[submodule "demoServiceConsumer"]
	path = demoServiceConsumer
	url = https://github.com/maischl-it/demoServiceConsumer.git

[submodule "demoServiceProvider"]
	path = demoServiceProvider
	url = https://github.com/maischl-it/demoServiceProvider.git
